<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>response</display-name>
    <servlet-name>response</servlet-name>
    <servlet-class>com.ithima.demo.response</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>response</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>cdx.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet1</display-name>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>cdx.servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>text</display-name>
    <servlet-name>text</servlet-name>
    <servlet-class>hang.text</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text</servlet-name>
    <url-pattern>/text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Byte</display-name>
    <servlet-name>Byte</servlet-name>
    <servlet-class>ByteServlet.Byte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Byte</servlet-name>
    <url-pattern>/Byte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadServlet</display-name>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>ByteServlet.downloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadservlet2</display-name>
    <servlet-name>downloadservlet2</servlet-name>
    <servlet-class>ByteServlet.downloadservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadservlet2</servlet-name>
    <url-pattern>/downloadservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkimgServlet</display-name>
    <servlet-name>checkimgServlet</servlet-name>
    <servlet-class>ByteServlet.checkimgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkimgServlet</servlet-name>
    <url-pattern>/checkimgServlet</url-pattern>
  </servlet-mapping>
</web-app>