<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web20</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admianProductServlet</display-name>
    <servlet-name>admianProductServlet</servlet-name>
    <servlet-class>com.web.admianProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admianProductServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>addCategory</description>
    <display-name>addCategoryServlet</display-name>
    <servlet-name>addCategoryServlet</servlet-name>
    <servlet-class>com.web.addCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategoryServlet</servlet-name>
    <url-pattern>/addCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminAddProductSerclet</display-name>
    <servlet-name>adminAddProductSerclet</servlet-name>
    <servlet-class>com.web.adminAddProductSerclet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAddProductSerclet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>delProduct</description>
    <display-name>adminDelProductServlet</display-name>
    <servlet-name>adminDelProductServlet</servlet-name>
    <servlet-class>com.web.adminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDelProductServlet</servlet-name>
    <url-pattern>/delProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShowProductServlet</display-name>
    <servlet-name>UpdateShowProductServlet</servlet-name>
    <servlet-class>com.web.UpdateShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowProductServlet</servlet-name>
    <url-pattern>/updateShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.web.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryServlet</display-name>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>com.web.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/adminCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>com.web.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/deleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>com.web.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/updateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminUpdateCategory</display-name>
    <servlet-name>adminUpdateCategory</servlet-name>
    <servlet-class>com.web.adminUpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUpdateCategory</servlet-name>
    <url-pattern>/updateCategory1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.web.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
</web-app>